:root {
    --color-dark-primary: #292929;
    --color-dark-secondary: #383838;
    --color-dark-helper: #ADDDD0;
    --color-dark-light: #EEEEEE;
    --color-dark-dark: #181818;
}

.dark-theme .b-secondary {
    background: var(--color-dark-secondary);
}

.dark-theme {
    background: var(--color-dark-dark);
    color: var(--color-dark-light);
}

.dark-theme .header {
    background-color: var(--color-dark-primary);
    color: var(--color-dark-light);
    border-bottom: 1px solid #333;
}

.dark-theme .footer {
    background: var(--color-dark-primary);
    border-top: 1px solid #333;
}

.dark-theme .admin-panel .sidebar {
    height: 100vh;
}

.dark-theme .admin-panel .sidebar {
    background: var(--color-dark-primary);
    border-right: 1px solid var(--color-dark-secondary);
}

.dark-theme .admin-panel .sidebar .nav-item .active {
    background: var(--color-primary);
}

.dark-theme .admin-panel .sidebar .nav-item .nav-link {
    color: var(--color-dark-light);
}

/* Login Form*/
.dark-theme .login-form .form-control {
    background: var(--color-dark-primary);
    color: var(--color-dark-light);
    border: 1px solid var(--color-dark-primary);
}

.dark-theme .login-form .form-control label {
    background: var(--color-dark-primary);
}

.dark-theme input:-webkit-autofill,
.dark-theme input:-webkit-autofill:hover,
.dark-theme input:-webkit-autofill:focus {
    -webkit-text-fill-color: whitesmoke;
    -webkit-box-shadow: 0 0 0px 1000px var(--color-dark-primary) inset;
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: 0 0 0px 1000px var(--color-dark-primary) inset;
}

.dark-theme .search input {
    background: var(--color-dark-dark);
    border: 1px solid var(--color-dark-dark);
    color: var(--color-dark-helper)
}

.dark-theme .add-note-form input,
.dark-theme .notes-search input {
    background: var(--color-dark-primary);
    border: 1px solid var(--color-dark-dark);
    color: var(--color-dark-helper)
}


.dark-theme .notes-area .cover-space {
    height: 100vh;
    overflow-y: scroll;
}

.dark-theme .notes-area {
    position: relative;
}

.dark-theme .create-notes {
    padding: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--color-dark-secondary);
}

.dark-theme .create-notes input {
    background: var(--color-dark-primary);
    border: 1px solid var(--color-dark-dark);
    color: var(--color-dark-helper);
    padding: 10px;
    /* border: 0; */
}

.dark-theme .note-heading {
    padding: 25px 80px;
    background: var(--color-dark-secondary);
}

.dark-theme .note-content {
    padding: 25px 80px;
    background: var(--color-dark-primary);
    border-bottom: 1px solid var(--color-dark-secondary);
}