* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    --color-primary: #6F38C5;
    --color-secondary: #87A2FB;
    --color-helper: #ADDDD0;
    --color-light: #EEEEEE;
    --color-dark: #181818;
}

/* TinyMCE Warning Hide */
.tox-notifications-container {
    display: none;
}

.b-primary {
    background: var(--color-primary);
}

.cover-space {
    min-height: 85vh;
}


/* Set scrollbar width and height */
::-webkit-scrollbar {
    width: 9px;
    height: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #eee;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #6666;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Firefox scrollbar */
* {
    scrollbar-width: thin;
    scrollbar-color: #6666 #eee;
}

/* Firefox track */
*::-webkit-scrollbar-track {
    background: #eee;
}

/* Firefox handle */
*::-webkit-scrollbar-thumb {
    background-color: #6666;
}

/* Firefox handle on hover */
*::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}


/* Header - Footer */
.header {
    background: var(--color-light);
    border-bottom: 1px solid #ddd;
    position: fixed;
    width: 100%;
}

.footer {
    background: var(--color-light);
    border-top: 1px solid #ddd;
}

/* Admin */

.admin-panel .sidebar {
    background: var(--color-dark);
}

.admin-panel .sidebar .nav-item {
    color: white
}