* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    --color-primary: #6F38C5;
    --color-secondary: #87A2FB;
    --color-helper: #ADDDD0;
    --color-light: #EEEEEE;
    --color-dark: #181818;
}

.b-primary {
    background: var(--color-primary);
}

.cover-space {
    min-height: 85vh;
}

.header {
    background: var(--color-light);
    border-bottom: 1px solid #ddd;
    position: fixed;
    width: 100%;
}

.footer {
    background: var(--color-light);
    border-top: 1px solid #ddd;
}

/* Admin */

.admin-panel .sidebar {
    background: var(--color-dark);
}

.admin-panel .sidebar .nav-item {
    color: white
}